.card_habilidade{
    background-color: #373A40;
    border: 3px solid #686D76;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 25px 80px;
}

.card_habilidade h3{
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}