#sobre_mim{
    background-color: #EBEBEB;
    padding: 50px 0 0 100px;
}

#sobre_mim h2{
    font-family: var(--fonte-principal);
    font-size: 36px;
}

#sobre_mim img {
    width: 120px;
    border-radius: 50%;
    margin: 25px 0;
}

#sobre_mim p {
    font-family: var(--fonte-secundaria);
    font-size: 21px;
    width: 70vw;
    text-align: justify;
}

#sobre_mim div{
    padding: 40px 0 150px 0;
    display: flex;
    gap: 45px;
}

.btn_fale_comigo {
    font-size: 20px;
    font-weight: bold;
    color: #000000; /* Texto verde */
    background-color: transparent;
    border: 3px solid #313131;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
    font-family: var(--fonte-principal);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn_fale_comigo::before {
    content: '';
    position: absolute;
    top: 100%; /* Inicialmente fora da área visível */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #313131; /* Fundo verde */
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.btn_fale_comigo:hover {
    color: white; /* Texto branco no hover */
}

.btn_fale_comigo:hover::before {
    top: 0; /* Move o fundo para cobrir o botão */
}

.btn_baixar_cv {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff; /* Texto branco */
    background-color: #313131; /* Fundo inicial */
    border: 3px solid #313131; /* Borda inicial */
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave */
    font-family: var(--fonte-principal);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn_baixar_cv:hover {
    background-color: #000000; /* Fundo preto no hover */
    border-color: #000000; /* Borda preta no hover */
}

@media (max-width: 1130px){
    #sobre_mim img{
        width: 100px;
    }
}

@media (max-width: 910px){
    #sobre_mim img{
        width: 90px;
    }
    #sobre_mim p{
        font-size: 18px;
    }
    #sobre_mim{
        padding: 50px 0 0 60px;
    }
}

@media (max-width: 830px){
    #sobre_mim{
        padding: 50px 0 0 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #sobre_mim h2{
        font-size: 32px;
    }
    #sobre_mim img{
        width: 80px;
    }
    #sobre_mim p{
        width: 80vw;
    }
    .btn_fale_comigo{
        font-size: 18px;
    }
    .btn_baixar_cv{
        font-size: 18px;
    }
}

@media (max-width: 560px){
    #sobre_mim p{
        font-size: 17px;
    }
    .btn_fale_comigo{
        font-size: 17px;
    }
    .btn_baixar_cv{
        font-size: 17px;
    }
}

@media (max-width: 480px){
    #sobre_mim div{
        padding: 40px 0 120px 0;
        gap: 35px;
    }
    .btn_fale_comigo{
        font-size: 16px;
        padding: 10px 15px;
    }
    .btn_baixar_cv{
        font-size: 16px;
        padding: 10px 15px;
    }
}

@media (max-width: 390px){
    #sobre_mim h2{
        font-size: 28px;
    }
    #sobre_mim img{
        width: 70px;
    }
    #sobre_mim p{
        font-size: 16px;
    }
    #sobre_mim div{
        padding: 40px 0 100px 0;
        gap: 25px;
    }
}