/* Geral */
#habilidades {
  background-color: #ffffff;
}

.container_habilidades {
  padding: 50px 0 0 100px;
}

#habilidades h2 {
  font-family: var(--fonte-principal);
  font-size: 36px;
}

#habilidades .textos {
  margin: 16px 0 100px 0;
  font-family: var(--fonte-secundaria);
  font-size: 21px;
  width: 70vw;
  text-align: justify;
}

/* Carrossel */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
  margin: auto;
  overflow: hidden;
  cursor: grab;
}

.carousel:active {
  cursor: grabbing;
}

.carousel-content {
  display: flex;
  transition: transform 0.3s ease;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%; /* Cada item ocupa 100% da largura */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Indicadores */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  padding-bottom: 125px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.active-indicator {
  background-color: #373A40;
}

@media (max-width: 1110px){
  .carousel {
    width: 60%;
  }
}

@media (max-width: 910px){
  .container_habilidades {
    padding: 50px 0 0 60px;
  }
  #habilidades .textos{
    font-size: 18px;
  }
}

@media (max-width: 830px){
  .container_habilidades {
    padding: 50px 0 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #habilidades .textos{
    width: 80vw;
    margin: 16px 0 70px 0;
  }
  #habilidades h2{
    font-size: 32px;
  }
}

@media (max-width: 740px){
  .carousel {
    width: 80%;
  }
}

@media (max-width: 560px){
  .carousel {
    width: 100%;
  }
  #habilidades .textos {
    font-size: 17px;
  }
}

@media (max-width: 390px){
  #habilidades h2{
    font-size: 28px;
  }
  #habilidades .textos{
    margin: 16px 0 50px 0;
    font-size: 16px;
  }
}