#projetos {
    background-color: #EBEBEB;
}

.container_projetos{
    padding: 50px 0 0 100px;
}

#projetos h1{
    font-family: var(--fonte-principal);
    font-size: 36px;
}

#projetos .texto_projetos {
    font-family: var(--fonte-secundaria);
    font-size: 21px;
    width: 70vw;
    text-align: justify;
}

.container_div_projetos{
    padding-bottom: 125px;
}

.div_projetos{
    margin: 60px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}