footer{
    background-color: #000000;
    color: #ffffff;
    font-family: var(--fonte-principal);
    padding: 70px 0;
    text-align: center;
}

footer p {
    font-size: 16px;
    font-weight: 300;
}

@media (max-width: 970px){
    footer p {
        font-size: 14px;
    }
}

@media (max-width: 620px){
    footer{
        padding: 50px 0;
    }
    footer p {
        font-size: 12px;
    }
}