footer{
    background-color: #000000;
    color: #ffffff;
    font-family: var(--fonte-principal);
    padding: 70px 0;
    text-align: center;
}

footer p {
    font-size: 16px;
    font-weight: 300;
}