#cabecalho {
    position: relative;
    background-image: url(../../../public/imagens/fundo-blur-1200px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    overflow: hidden; /* Garante que o overlay não vaze */
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.cabecalho_botoes{
    display: flex;
    gap: 20px;
    padding: 20px 0 0 30px;
}

.cabecalho_botoes button {
    background-color: transparent;
    border: none;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease; /* Suaviza a transição de aumento */
}

.cabecalho_botoes button:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 1.1x */
}

#cabecalho .boas_vindas {
    font-family: var(--fonte-principal);
    color: #ffffff;
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima do overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 190px 0 300px 0;
}

#cabecalho h1 {
    font-size: 64px;
    font-weight: bold;
}

.lista_palavras{
    display: flex;
    gap: 5px;
}

.titulo::after {
    content: " |"; /* Adiciona o separador */
}

.titulo:last-child::after {
    content: ""; /* Remove o separador do último item */
}

#cabecalho h2 {
    font-size: 24px;
    font-weight: 300;
}

#cabecalho h3 {
    font-size: 36px;
    font-weight: bold;
}

#cabecalho .botao_sobre_mim {
    position: relative;
    background-color: transparent;
    border: solid 3px #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse o botão */
    transition: color 0.3s ease; /* Suaviza apenas a mudança de cor do texto */
    
}

#cabecalho .botao_sobre_mim::before {
    content: '';
    position: absolute;
    transform: translateY(100%); /* Inicialmente fora da visão */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Cor de preenchimento */
    z-index: -1; /* Fica atrás do texto */
    transition: transform 0.3s ease; /* Transição mais suave e leve */
}

#cabecalho .botao_sobre_mim:hover::before {
    transform: translateY(0); /* Move o preenchimento para cobrir o botão */
}

#cabecalho .botao_sobre_mim:hover {
    color: #000000; /* Muda a cor do texto para preto ao passar o mouse */
    box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.08);
}

#cabecalho .botao_sobre_mim img {
    transition: filter 0.3s ease; /* Transição suave para a alteração da cor */
}

#cabecalho .botao_sobre_mim:hover img {
    content: url('../../../public/imagens/seta-baixo-preta-32px.png'); /* Altera a imagem da seta */
}

@media (max-width: 1140px){
    #cabecalho h1{
        font-size: 56px;
    }
    #cabecalho h2{
        font-size: 22px;
    }
    #cabecalho h3{
        font-size: 28px;
    }
    #cabecalho .boas_vindas{
        padding: 150px 0 250px 0;
    }
    #cabecalho .botao_sobre_mim{
        font-size: 19px;
    }
    #cabecalho .botao_sobre_mim img{
        width: 3vw;
    }
}

@media (max-width: 890px){
    .cabecalho_botoes button{
        font-size: 14px;
    }
    #cabecalho h1{
        font-size: 45px;
    }
    #cabecalho h2{
        font-size: 20px;
    }
    #cabecalho h3{
        font-size: 24px;
    }
    #cabecalho .boas_vindas{
        padding: 120px 0 200px 0;
    }
    #cabecalho .botao_sobre_mim{
        font-size: 18px;
    }
}

@media (max-width: 700px){
    #cabecalho{
        background-image: none;
        background-color: #111111;
    }
    #cabecalho h2{
        font-size: 18px;
    }
    #cabecalho .boas_vindas{
        padding: 150px 0 200px 0;
    }
}

@media (max-width: 600px){
    #cabecalho h2{
        font-size: 16px;
    }
}

@media (max-width: 530px){
    .cabecalho_botoes{
        padding: 20px 0 0 10px;
    }
    .cabecalho_botoes button{
        font-size: 12px;
    }
    #cabecalho h1{
        font-size: 35px;
    }
    #cabecalho h2{
        font-size: 14px;
    }
    #cabecalho h3{
        font-size: 22px;
    }
    #cabecalho .botao_sobre_mim{
        font-size: 14px;
    }
    #cabecalho .botao_sobre_mim img{
        width: 4vw;
    }
}

@media (max-width: 500px) {
    .lista_palavras {
        flex-direction: column;
        align-items: center;
    }

    .titulo::after {
        content: ""; /* Remove o separador "|" */
    }
    #cabecalho .boas_vindas{
        padding: 170px 0 200px 0;
    }
}

@media (max-width: 450px){
    .cabecalho_botoes{
        gap: 15px;
    }

    .cabecalho_botoes button{
        font-size: 11px;
    }
}

@media (max-width: 390px){
    .cabecalho_botoes{
        gap: 10px;
    }
}