#contato{
    background-color: #EBEBEB;
}

.container_contato{
    padding: 50px 0 0 100px;
}

#contato h1{
    font-family: var(--fonte-principal);
    font-size: 36px;
}

#contato p{
    margin-top: 16px;
    font-family: var(--fonte-secundaria);
    font-size: 21px;
    width: 70vw;
    text-align: justify;
}

#contato ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 125px;
}

#contato ul li{
    position: relative;
    transition: transform 0.3s ease;
}

#contato ul li:hover{
    transform: scale(1.1);
}

.icone-normal {
    position: absolute;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.icone-hover {
    transition: opacity 0.3s ease;
    opacity: 0;
}

#contato ul li:hover .icone-hover {
    opacity: 1;
}
  
#contato ul li:hover .icone-normal {
    opacity: 0;
}
  
#contato ul li a img {
    width: 4vw;
}

@media (max-width: 1360px){
    #contato ul li a img {
        width: 5vw;
    }
}

@media (max-width: 1190px){
    #contato ul li a img {
        width: 6vw;
    }
}

@media (max-width: 980px){
    #contato ul li a img {
        width: 7vw;
    }
}

@media (max-width: 910px){
    #contato p{
        font-size: 18px;
    }
    .container_contato{
        padding: 50px 0 0 60px;
    }
}

@media (max-width: 830px){
    .container_contato{
        padding: 50px 0 0 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contato h1{
        font-size: 32px;
    }
    #contato p{
        width: 80vw;
    }
    #contato ul li a img {
        width: 8vw;
    }
}

@media (max-width: 650px){
    #contato ul li a img {
        width: 9vw;
    }
}

@media (max-width: 560px){
    #contato p{
        font-size: 17px;
    }
    #contato ul li a img {
        width: 11vw;
    }
}

@media (max-width: 460px){
    #contato ul li a img {
        width: 13vw;
    }
}

@media (max-width: 390px){
    #contato h1{
        font-size: 28px;
    }
    #contato p{
        font-size: 16px;
    }
}