.card_projeto{
    background-color: #D6D6D6;
    color: #4F4F4F ;
    font-family: var(--fonte-principal);
    border-radius: 5px;
    width: fit-content;
    border: 1px solid #CCCCCC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_projeto:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card_projeto img{
    width: 30vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_projeto h2{
    color: #000000;
    font-size: 24px;
    padding: 10px 0 0 5px;
    padding-top: 10px;
}

.card_projeto p {
    color: #333333;
    padding: 5px 0 0 5px;
    font-size: 15px;
    width: 28vw;
}

.card_projeto ul {
    padding: 10px 0 5px 5px;
    display: flex;
    gap: 20px;
}

.card_projeto ul a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #555555;
}



